@font-face {
  font-family: akkurat;
  src: url("/public/Fonts/fonnts.com-Akkurat-Regular.ttf");
}

@import "tailwindcss";

@theme{
  --font-akkurat:akkurat,"sans-sarif";
}

@theme{
  --font-segoe: Segoe UI, system-ui, sans-serif
}

@layer utilities {
  .bg-teal-radial {
    background-image: radial-gradient(circle, rgba(20,184,166,0.18) 0%, transparent 70%);
  }

  .basic {
    color: #64748b;
  }

  .dark-bg{
    /* background-color:#0b131c */
    background-color:#08121e
  }

  .input{
   @apply flex items-center justify-center h-10 w-full rounded-lg px-4 border  focus:outline-none focus:ring-0;
  }
  .label{
    @apply text-[12px] font-semibold text-slate-400 tracking-wide;
  }
  .input[type="number"] {
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@keyframes backforth {
  0% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(300px,100px);
  }
}

.animate-backforth {
  animation: backforth 3s ease-in-out infinite alternate;
}